@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
    background: #232323;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#container {
    max-width: 600px;
    margin: 45px auto;
}
.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
    border-radius: 15%;
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding-top: 20px;
    padding-bottom: 20px;

}
#colorDisplay {
    font-size: 200%;
}
#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background: steelblue;color:white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    outline: none;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    font-size: inherit;
    
}
button:hover {
    color: white;
    background: steelblue;
    cursor: pointer;
}
#message {
    display: inline-block;
    width: 20%;
}